altgraph==0.17.4
comtypes==1.2.1
importlib-metadata==7.0.1
Nuitka==1.9.7
ordered-set==4.1.0
packaging==23.2
pefile==2023.2.7
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pywin32-ctypes==0.2.2
zipp==3.17.0
zstandard==0.22.0
